In [1]:
# Q1
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])
for element in my_tuple:
    print(element)
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print(new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
(1, 2, 3, 7, 8, 9)

In [3]:
# Q2
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich dad poor dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}
inventory["1984"] = {"price": 15.00, "quantity": 10}
print(list(inventory.keys()))
inventory = {k: v for k, v in inventory.items() if v["quantity"] > 0}
print(inventory)

['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', '1984']
{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, '1984': {'price': 15.0, 'quantity': 10}}

In [5]:
# Q3
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30},
}
products[102]["stock"] += 50
products[104] = {"name": "Smartphone", "category": "Electronics", "price": 700, "stock": 100}
print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'stock': 100}}

In [7]:
# Q4
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
unique_items = list(set(shopping_list))
print(unique_items)

['apple', 'banana', 'grape', 'orange']

In [9]:
# Q5
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}
only_in_a = course_a - course_b
only_in_one = course_a ^ course_b
print(only_in_a)
print(only_in_one)

{'Bob', 'John'}
{'John', 'Charlie', 'Bob', 'Eve'}

In [11]:
# Q6
sum_of_evens = 0

for number in range(1, 51):
    if number % 2 == 0:
        sum_of_evens += number

print("Sum of all even numbers between 1 and 50:", sum_of_evens)

Sum of all even numbers between 1 and 50: 650

In [13]:
# Q7
number = int(input("Enter a number between 1 and 10: "))
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number between 1 and 10:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [15]:
# Q8
num = int(input("Enter a number: "))
power = 1
while power <= 10:
    print(f"{num}^{power} = {num ** power}")
    power += 1

Enter a number:  3

3^1 = 3
3^2 = 9
3^3 = 27
3^4 = 81
3^5 = 243
3^6 = 729
3^7 = 2187
3^8 = 6561
3^9 = 19683
3^10 = 59049

In [17]:
# Q9
countdown = int(input("Enter a number to start the countdown: "))
while countdown >= 0:
    print(countdown)
    countdown -= 1
print("Countdown finished!")

Enter a number to start the countdown:  3

3
2
1
0
Countdown finished!

In [19]:
# Q10
n = int(input("Enter the number of rows for the triangle: "))
for i in range(1, n + 1):
    print("* " * i)

Enter the number of rows for the triangle:  3

*
* *
* * *