In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [3]:
# What is the length of the salaries list.
len(salaries)

7

In [7]:
# Retrieve the third salary in the list by using index.
salaries[2]

'50k'

In [9]:
# Extract the last salary from the list by using a negative index.
salaries[-1]

'40k'

In [13]:
# Slice the salaries list to get only the middle three salaries.
salaries[2:5]

['50k', '60k', '35k']

In [15]:
# Add a new salary to the list, ‘100k’ by using append() method.
salaries.append('100k')

In [17]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [19]:
# Add a new salary to the list, ‘120k’ without method.
salaries = salaries + ['120k']

In [21]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [23]:
# Replace the third salary in the list with '55k' and print the updated list.
salaries[2] = '55k'

In [25]:
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [27]:
# Count how many times '40k' appears in the list.
count_40k = salaries.count('40k')

In [29]:
print(count_40k)

2

In [31]:
# Insert a new salary at the second position.
salaries.insert(1, '30k')

In [33]:
salaries

['20k', '30k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [35]:
# Reverse the order of the salaries list with method.
salaries.reverse()

In [37]:
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '30k', '20k']

In [41]:
# Reverse the order of the salaries list without method.
salaries = salaries[::-1]

In [43]:
salaries

['20k', '30k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']